.tweet-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  background-color: #f4f1ec;
  margin-top: 150px;
}

section.tweet-container {
  display: flex;
  flex-direction: column-reverse;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  border-style: solid;
  border-color: black;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  width: 600px;
  flex-basis: auto;
}

.handle {
  opacity: 0;
}

/* section.tweet-container:hover { */
article:hover {
  box-shadow: 8px 8px 0px 0px rgba(197,203,227,1);;
}

/* section.tweet-container:hover .handle { */
article:hover .handle {
  opacity: 0.5;
}

section.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  padding: 15px;

}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-text {
  font-size: 15px;
  border: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  width: 100%;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-weight: bold;
}

.tweet-footer .icons .footer-img {
  width: 10px;
  height: 10px;
  margin: 2px;
}

#user-messages {
  border: 3px solid red;
  margin: 5px;
  width: 100%;
  color: red;
  display: none;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  .top-nav {
    position: fixed;
    z-index: 100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 120px;
      background-color: #4056A1;
      color: #FFFFFF;
      padding: 1.5em;
      width: 100%;
  }
  
  .nav-span-tittle {
    font-family: 'Bungee', cursive;
  }
 
  .new-tweet {
    display: flex;
    flex-direction: column;
  }

  .tweet-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
  }

} 

/* Another tablet breakpoint is minimum width of 768px */
@media only screen and (max-width: 768px) {
  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
  .top-nav {
    display: none;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-color: #f4f1ec;
  }

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color:sandybrown;
    position: relative;
    width: 100%;
    margin-top: 0px;
  }
  
  .avatar {
    background-color: transparent;
  }
  
  h2 {
    padding: 0px;
  }
  
  .tweet-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    background-color: #f4f1ec;
    margin-top: 70px;
  }
  
  .tweet-container {
    display: flex;
    justify-content: center;
    /* flex: 1; */
  }
  
  article {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    background-color: #f4f1ec;
    border-style: solid;
    border-color: black;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
  }

  .content-text {
    font-size: 15px;
    border: none;
    border-bottom: 3px solid black;
    background-color: #f4f1ec;
    width: 100%;
    margin-bottom: 15px;
    overflow-wrap: break-word;
  }
  
}

