section.tweet-container {
  display: flex;
  flex-direction: column-reverse;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  border-style: solid;
  border-color: black;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.handle {
  opacity: 0;
}

/* section.tweet-container:hover { */
article:hover {
  box-shadow: 8px 8px 0px 0px rgba(197,203,227,1);;
}

/* section.tweet-container:hover .handle { */
article:hover .handle {
  opacity: 0.5;
}

section.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  padding: 15px;

}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-text {
  font-size: 15px;
  /* font-weight: 600; */
  border: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  width: 100%;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-weight: bold;
}

.tweet-footer .icons .footer-img {
  width: 10px;
  height: 10px;
  margin: 2px;
}

#user-messages {
  border: 3px solid red;
  margin: 5px;
  width: 100%;
  color: red;
  display: none;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  /* nav {
    display: inherit;
  } */
  .reactive-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items:flex-start;
  }

  header {
    margin: 100px;
    /* width: 400px; */
  } 

  /* container {
    margin: 100px;
    vertical-align: top;
  }

  tweet-container {
    display: flex;
    align-items: flex-end;
  }  */

} 

/* Another tablet breakpoint is minimum width of 768px */
@media only screen and (min-width: 768px) {
  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
  /* nav {
    display: none;
  } */
}

/* Another smartphone breakpoint is maximum width of around 420px */
@media only screen and (width: 420px) {
  /* Write smartphone only styles here */
  /* nav {
    display: none;
  } */
}
